<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="{{ url_for('static', filename='reset.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
  <link
    href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp"
    rel="stylesheet">
  <script type="module" src="{{ url_for('static', filename='utils/alert.js') }}" defer></script>
  {% if title %}
  <title>Flask Books List – {{ title }}</title>
  {% else %}
  <title>Flask Books List</title>
  {% endif %}

  {% block head %}
  {% endblock %}
</head>

<body class="dark-theme">
  <main class="main">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    <div class="alert {{ category }}">
      {{ message }}
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
    {% block content %} {% endblock %}
  </main>
</body>

</html>