{% from "_formhelpers.html" import render_field %}
{% extends "layout.html" %}
{% block head %}
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
<link rel="stylesheet" href="{{ url_for('static', filename='reset.css') }}" />
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />

{% endblock head %} {% block content %}
<section class="main__section login__section">
  <header class="section__header">
    <h1 class="header__h1">{{ title }}</h1>
  </header>

  <form novalidate method="POST" action="" class="section__form">

    {{ form.csrf_token }}

    <div class="input">
      {{ render_field(form.password) }}
    </div>

    <div class="input">
      {{ render_field(form.confirm_password) }}
    </div>

    {{ form.submit(class='form__button') }}

  </form>

</section>
{% endblock content %}